// color

$main_color: #24a1e0;

$main_color_light: #559de0;

$main_color_deep: #2656e0;

$sub_color: #ea6605;

$default_color: #494949;

$default_color_gray: #c5c5c5;

$default_color_light: #fff;

$gnb_color: rgba(234, 234, 234, 0.2);
